#ignore env variables
*/**.env.*

#ignore node_modules dependencies
node_modules
npm-debug.log

#ignore .next directory & .vscode
.git
.next
.vscode
README.md

#docker files
Dockerfile
.dockerignore

#database files
*/**.db